@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  /* Typography scale variables */
  --text-xs: 12px;
  --text-sm: 13px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 30px;
  --text-3xl: 36px;
  
  /* Font weight variables */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  
  /* The default background color for the application. */
  --background: rgba(229, 225, 225, 1.00);
  /* The default color for elements or text that appears on top of the background. */
  --foreground: rgba(38, 38, 38, 1.00);
  /* The background color for cards, modals, and other containers. */
  --card: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of cards, modals and other background containers. */
  --card-foreground: rgba(38, 38, 38, 1.00);
  /* The background color for dropdowns and tooltips. */
  --popover: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of dropdowns and tooltips. */
  --popover-foreground: rgba(38, 38, 38, 1.00);
  /* The primary color used for buttons, links, and other interactive elements. */
  --primary: rgba(95, 231, 167, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements. */
  --primary-foreground: rgba(38, 38, 38, 1.00);
  /* The secondary color used for secondary(but NOT-DESTRUCTIVE) buttons and interactive elements. */
  --secondary: rgba(2, 114, 97, 1.00);
  /* The default color for text or elements that appear on top of secondary colored elements. */
  --secondary-foreground: rgba(255, 255, 255, 1.00);
  /* The muted color used for less prominent elements, such as disabled buttons or disabled text. */
  --muted: rgba(244, 244, 244, 1.00);
  /* The default color for text or elements that appear on top of muted colored elements. */
  --muted-foreground: rgba(168, 168, 168, 1.00);
  /* The accent color used for highlights, links, and other interactive elements. */
  --accent: rgba(244, 244, 244, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements. */
  --accent-foreground: rgba(38, 38, 38, 1.00);
  /* The color used for background in destructive actions, such as delete buttons or error messages. */
  --destructive: rgba(241, 120, 120, 1.00);
  /* The default color for text or elements that appear on top of destructive colored elements. */
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements such as inputs, buttons, and other containers. */
  --border: rgba(208, 208, 208, 1.00);
  /* The default background color for input fields once the text has been filled. Should be either transparent or match the input-background. */
  --input: rgba(255, 255, 255, 1.00);
  /* The default background color for input fields, text areas, and other input elements. */
  --input-background: rgba(255, 255, 255, 1.00);
  /* The color for focus rings, outlines, and other focus indicators. */
  --ring: rgba(38, 38, 38, 1.00);
  /* Shadow for small elevations, such as cards or modals. */
  --elevation-sm: 0px 2px 8px 0px rgba(0,0,0,0.12);
  /* The color for chart elements, such as a bar or line in a chart. */
  --chart-1: rgba(95, 231, 167, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-2: rgba(2, 114, 97, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-3: rgba(242, 153, 57, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-4: rgba(90, 0, 36, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-5: rgba(197, 150, 168, 1.00);
  /* The default border radius for elements such as buttons, cards, and other containers. */
  --radius: 6px;
  /* The border radius for button elements. */
  --radius-button: 6px;
  /* The border radius for card elements. */
  --radius-card: 6px;
  /* The border radius for input elements. */
  --radius-input: 6px;
  /* The border radius for checkbox elements. */
  --radius-checkbox: 4px;
  /* The border radius for badge elements. */
  --radius-badge: 16px;
  /* The background color for sidebars, navigation menus, and other persistent elements. */
  --sidebar: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of sidebars, navigation menus, and other persistent elements. */
  --sidebar-foreground: rgba(38, 38, 38, 1.00);
  /* The primary color used for buttons, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-primary: rgba(23, 23, 23, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements in sidebars and navigation menus. */
  --sidebar-primary-foreground: rgba(250, 250, 250, 1.00);
  /* The accent color used for highlights, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-accent: rgba(244, 244, 244, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements in sidebars and navigation menus. */
  --sidebar-accent-foreground: rgba(38, 38, 38, 1.00);
  /* The default border color for elements in sidebars and navigation menus. */
  --sidebar-border: rgba(208, 208, 208, 1.00);
  /* The default color for focus rings, outlines, and other focus indicators in sidebars and navigation menus. */
  --sidebar-ring: rgba(38, 38, 38, 1.00);
}

.dark {
  --background: rgba(38, 38, 38, 1.00);
  --foreground: rgba(250, 250, 250, 1.00);
  --card: rgba(38, 38, 38, 1.00);
  --card-foreground: rgba(250, 250, 250, 1.00);
  --popover: rgba(38, 38, 38, 1.00);
  --popover-foreground: rgba(250, 250, 250, 1.00);
  --primary: rgba(95, 231, 167, 1.00);
  --primary-foreground: rgba(38, 38, 38, 1.00);
  --secondary: rgba(2, 114, 97, 1.00);
  --secondary-foreground: rgba(255, 255, 255, 1.00);
  --muted: rgba(68, 68, 68, 1.00);
  --muted-foreground: rgba(168, 168, 168, 1.00);
  --accent: rgba(68, 68, 68, 1.00);
  --accent-foreground: rgba(250, 250, 250, 1.00);
  --destructive: rgba(241, 120, 120, 1.00);
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  --border: rgba(68, 68, 68, 1.00);
  --input: rgba(68, 68, 68, 1.00);
  --ring: rgba(168, 168, 168, 1.00);
  --sidebar: rgba(23, 23, 23, 1.00);
  --sidebar-foreground: rgba(250, 250, 250, 1.00);
  --sidebar-primary: rgba(95, 231, 167, 1.00);
  --sidebar-primary-foreground: rgba(38, 38, 38, 1.00);
  --sidebar-accent: rgba(68, 68, 68, 1.00);
  --sidebar-accent-foreground: rgba(250, 250, 250, 1.00);
  --sidebar-border: rgba(68, 68, 68, 1.00);
  --sidebar-ring: rgba(168, 168, 168, 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 6px);
  --radius-button: var(--radius-button);
  --radius-card: var(--radius-card);
  --radius-input: var(--radius-input);
  --radius-checkbox: var(--radius-checkbox);
  --radius-badge: var(--radius-badge);
  --shadow-sm: var(--elevation-sm);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    h3 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    h4 {
      font-size: var(--text-sm);
      font-weight: var(--font-weight-bold);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    p {
      font-size: var(--text-sm);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    label {
      font-size: var(--text-xs);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    button {
      font-size: var(--text-sm);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }

    input {
      font-size: var(--text-sm);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
      font-family: 'Inter', sans-serif;
    }
  }
}

html {
  font-size: var(--font-size);
  font-family: 'Inter', sans-serif;
}